// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

//
// Font Family
//
$font-family-default: HiraginoSans, "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
$font-family-mono: "Courier New", Consolas, monospace;

//
// Font Size
//
$font-xxl: 58px;
$font-xl:  36px;
$font-l:   22px;
$font-m:   16px;
$font-s:   12px;
$font-xs:   4px;

// -----------------------------------------------------------------------------
// Color
// -----------------------------------------------------------------------------

//
// day
//
$day-bg-color: #fafafa;
$day-ft-color: #040404;

//
// night
//
$night-bg-color: #252525;
$night-ft-color: #fafafa;

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

//
// Border
//
$border-size-normal: 1px;
$border-size-bold: 2px;

$border-radius: 5px;

// -----------------------------------------------------------------------------
// Interaction
// -----------------------------------------------------------------------------

$duration-normal: 250ms;
$duration-slow:   600ms;
